<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="app.css">
</head>
<body>
     <div class="container">

        <h1 class="text-center m-5 bg-dark">MOVIE LIST</h1>
     <% data.forEach(function(item){ %>
       
       <table class="table">
  
   <thead>
      <tr>
         <th>S No</th>
      <th>Title</th>
      <th>Year</th>
      <th>Poster</th>
      </tr>
    </thead>
    <tbody>
      <tr>
         <th><%= item.Id %></th>
      <td><%= item.Title %></td>
      <td><%= item.Year %></td>
      <td><img src="<%= item.Poster %>" alt="Poster"></td>
      </tr>
      </tbody>      
</table>
        
   <% }) %>
   </div>
   
</body>
</html>